@inject IViewInventoriesByNameUseCase ViewInventoriesByNameUseCase 

<div class="input-group">
    <input
        class="form-control"
        Placeholder="Type something here to search"
        @bind-value="this.searchFilter" @bind-value:event="oninput">
    </input>
    <button type="button" class="btn-success input-group-text" @onclick="HandleSearch">Search</button>
</div>
@if (inventories is not null && inventories.Any())
{
    <div class="search-result">
        <ul>
            @foreach (var inv in inventories)
            {
            <Li @key="inv.InventoryId" @onclick="() => { HandleSelectInventory(inv); }">
                @inv.InventoryName
            </Li>
            }
        </ul>
    </div>
}



@code {
    [Parameter]
    public EventCallback<Inventory> OnInventorySelected { get; set; } 
    
    private string _searchFilter = string.Empty;

    private string searchFilter
    {
        get => _searchFilter;
        set
        {
            _searchFilter = value;
            HandleSearch();
        }
    }
    private List<Inventory> inventories = new List<Inventory>();

    private async Task HandleSearch()
    {
        await Task.Delay(500);
        
        inventories = (await ViewInventoriesByNameUseCase.ExecuteAsync(this.searchFilter)).ToList();
        
        StateHasChanged();
    }

    private async void HandleSelectInventory(Inventory inventory)
    {
        await OnInventorySelected.InvokeAsync();
        inventories.Clear();
    }
}