@using IMS.UseCases.Activities
@using IMS.UseCases.Products

@using static IMS.WebApp.Components.Controls.Common.AutoCompleteComponent

@page "/sell"

@rendermode InteractiveServer

@inject IViewProductByIdUseCase ViewProductByIdUseCase
@inject IViewProductsByNameUseCase ViewProductsByNameUseCase
@inject ISellProductUseCase SellProductUseCase 
@inject IJSRuntime JsRuntime


<h3>Sell Product</h3>

<EditForm id="sell-form" Model="sellViewModel" OnValidSubmit="Sell">
    <DataAnnotationsValidator></DataAnnotationsValidator>
    <ValidationSummary></ValidationSummary>

    <div class="form-group">
        <label for="po">Sales Order #</label>
        <InputText id="po" @bind-Value="sellViewModel.SalesOrderNumber" class="form-control"></InputText>
    </div>
    <br/>
    <div class="card">
        <div class="card-body">
            <div class="form-group">
                <AutoCompleteComponent
                    Label="Product to Sell"
                    SearchFunction="SearchProduct"
                    OnItemSelected="HandleItemSelected"></AutoCompleteComponent>

            </div>
        </div>
    </div>
    <br/>
    <div class="form-group">
        <label for="qty">Quantity #</label>
        <InputNumber id="qty" @bind-Value="sellViewModel.QuantityToSell" class="form-control"></InputNumber>
    </div>
    <br/>
    <div class="form-group">
        <label for="price">Unit Price #</label>
        <InputNumber id="price" @bind-Value="sellViewModel.UnitPrice" class="form-control"></InputNumber>
    </div>
    <br/>
    <button type="submit" class="btn btn-primary">sell</button>
</EditForm>

@code {
    private SellViewModel sellViewModel = new SellViewModel();
    private Product? selectedProduct;
    
    private List<AutoCompleteComponent.ItemViewModel>? SearchProduct(string name)
    {
        var list = ViewProductsByNameUseCase.ExecuteAsync(name).GetAwaiter().GetResult();
        if (list is null)
            return null;

        return list.Select(x => new AutoCompleteComponent.ItemViewModel { Id = x.ProductId, Name = x.ProductName })?
            .ToList();
    }

    protected override void OnAfterRender(bool firstRender)
    {
        base.OnAfterRender(firstRender);

        if (firstRender)
        {
            JsRuntime.InvokeVoidAsync("preventFormSubmission", "sell-form");
        }
    }

    
    private async Task HandleItemSelected(AutoCompleteComponent.ItemViewModel item)
    {
        selectedProduct = await ViewProductByIdUseCase.ExecuteAsync(item.Id);
        
        sellViewModel.ProductId = item.Id;
        sellViewModel.Product = selectedProduct;
        sellViewModel.UnitPrice = selectedProduct.Price;
    }

    private async Task Sell ()
    {
        await SellProductUseCase.ExecuteAsync(
            sellViewModel.SalesOrderNumber,
            selectedProduct,
            sellViewModel.UnitPrice,
            sellViewModel.QuantityToSell,
            "Frank");

        this.sellViewModel = new SellViewModel();
        this.selectedProduct = null;
    }
}